<!DOCTYPE html>
<html lang="en">
<head>

    <title>Help - Blip Debugger Beholder - Blip Team</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>

        * {
            padding: 0;
            margin: 0;
            outline: 0;
            box-sizing: border-box;
        }

        body {
            padding: 0;
            padding-bottom: 40px;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            background: #242424;
        }

        h3 {
            margin: 40px;
        }

        img {
            width: 1000px;
            margin: 0 40px;
            border: 3px solid black;
        }

        #blip-debugger-beholder-how-to-use-button {
            padding: 20px 40px;
            border-radius: 20px;
            position: fixed;
            right: 40px;
            bottom: 40px;
            color: white;
            background: black;
            cursor: pointer;
        }

        a {
            color: white;
        }

    </style>

</head>
<body>

    <h3>1. Aperte Ctrl + Shift + i (para entrar no Inspecionar) na página do <a href="/">Debugger</a>.</h3>
    <h3>2. Acesse a aba de Console.</h3>
    <h3>3. Copie JSON do Beholder, cole no debugger e aperte Enter.</h3>
    <img src="../assets/1.jpg">
    <h3>3.1. Esse JSON pode ser pego de duas formas:</h3>
    <h3>3.1.1. De um fluxo inteiro (alternativa 1).</h3>
    <img src="../assets/4.jpg">
    <h3>3.1.2. De um bloco específico (alternativa 2).</h3>
    <img src="../assets/2.jpg">
    <h3>3.2. Clique em copiar o JSON da situação escolhida.</h3>
    <img src="../assets/3.jpg">
    <h3>4. Adicione as variáveis de mock (se o fluxo necessitar)</h3>
    <img src="../assets/5.jpg">
    <h3>4.1. Variáveis de mock são usadas para criar e processar os scripts e variáveis do fluxo.</h3>
    <h3>4.2. Para variáveis de objetos, adicione JSON.stringify().</h3>
    <h3>4.3. Para veriáveis comuns, adicione uma string ou number normal.</h3>
    <h3>5. Aperte enter.</h3>
    <h3>6. Analisando os resultados.</h3>
    <img src="../assets/6.jpg">
    <h3>6.1. Os resultados do debugger apresentam 3 principais coisas:</h3>
    <h3>6.2. Variáveis, Trackings e Scripts (execução em tempo real).</h3>
    <h3>6.3. Se um script apresentar qualquer erro, o processo de execução irá parar e o erro será apresentado.</h3>
    <h3>7. No script que deu erro, clique no ID do erro (ex: na imagem acima - VM393:1)</h3>
    <h3>8. O erro será apresentado na exata linha em que ocorreu, junto com ao motivo que o levou a quebrar.</h3>
    <img src="../assets/7.jpg">
    <h3>9. Agora é só fixar o seu bug no builder e executar novamente! ;)</h3>
    <h3>10. Att., Anael Jonas.</h3>

    <a href="/">
        <h4 id="blip-debugger-beholder-how-to-use-button">Voltar ao Debugger</h4>
    </a>

</body>
</html>